@use '../../sass/variables' as *;

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    input {
        width: 800px;
        padding: 10px;
        border-radius: $main-border-radius;
        border: 2px solid $border-color;
    }

    input::placeholder {
        padding-left: 40px;
    }

    .home--user-icon {
        margin: 0px 15px;
    }

    .home__input {
        position: relative;
    }

    .home__--search-icon {
        position: absolute;
        left: 15px;
        top: 15%;
    }
}

.home__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}